.titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.cadastrarButton {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin: 10px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content {
  flex: 1;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.descricaoCard {
  text-align: justify;
}
