.titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.cadastrarButton{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin: 10px;
}

.descricaoCard{
  text-align: justify;
}